body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
* {
    margin: 0px;
    padding: 0px;
}
.header {
    background: url('img/starfield-banner.jpg ');
    position: fixed;
    left: auto;
    top: auto;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    z-index: 10;
}
/*.header .logo-link {
    padding: 10px;
}
*/

.logo {
    flex: 1 1 auto;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    align-content: stretch;
    flex: 1 1 auto;
}
.container_search {
    flex: 1 1 auto;
}
.header ul {
    list-style-type: none;
}
.nav a, .sub_nav a {
    color: white;
    text-decoration: none;
}
.nav ul, .sub_nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav ul li:hover {
    background-color: #15418c;
}
.sub_nav ul li:hover {
    background-color: #888888;
}
.nav ul {
    background-color: transparent;
}
.sub_nav ul {
    background-color: #555555;
}
.footer {
    width: 90%;
}
.nav li {
    border-right: 1px solid white;
    padding: 10px;
}
.nav li:last-child {
    border-right: none;
}
.sub_nav li {
    border-right: 1px solid white;
    font-size: small;
    padding: 8px;
}
.sub_nav {
    padding: 10px;
}
.sub_nav li:last-child {
    border-right: none;
}
.parent {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search {
    outline: none;
    padding-left: 20px;
    background-color: #333333;
    color: #FFF;
    border: 1px solid #333333;
}
.search:hover {
    border: 1px solid #4679cb;
}
.btn {
    height: 35px;
    width: 35px;
    background: url(img/search.svg) no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}
.share {
    height: 35px;
    width: 35px;
    background: url(img/share.svg) no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}
.main {
    width: 90%;
    display: flex;
    flex-direction: column;
    /*  overflow: hidden;*/
    margin: 20px 20px 20px 20px;
}
.two_column {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    margin-top: 110px;
    width: 100%;
}
.left_news {
    display: inline-flex;
    flex-grow: 2;
    width: 100%
}
.news {
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.img {
    width: 100%;
    height: 100%;
}
.title {
    position: relative;
    left: 0px;
    bottom: 45px;
    background-color: #4f6c9d;
    color: white;
    width: 25%;
}
.title:hover {
    background-color: #5d7fb9;
}
.content {
    position: relative;
    left: 0px;
    bottom: 45px;
    color: black;
    background-color: #cdcdcd;
}
.content:hover {
    background-color: #ffffff;
}
.right_two_column {
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
}
.right_top {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    width: 100%;
}
.right_top_left {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    width: 100%;
}
.right_top_right {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    background-color: #39719e;
    position: relative;
}
.right_top_right a {
    text-decoration: none;
    color: white;
}
.right_top_right a:hover {
    color: white;
    text-decoration: underline;
}
.right_title {
    position: relative;
    bottom: -137px;
    right: -2px;
    font-size: small;
}
.hr {
    position: relative;
    bottom: -130px;
}
.left_title {
    position: relative;
    bottom: -120px;
    left: 136px;
    font-size: small;
}
.right_bottom {
    display: inline-flex;
    /*    flex: 1 1 auto;*/
    align-self: flex-start;
    bottom: -20px;
}
.change {
    margin-top: 20px;
}
.three_column {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1 1 auto;
}
.left {
    display: inline-flex;
/*        flex: 1 1 auto;*/
    width: 25%;
/*flex-grow: 1;*/
}
.center {
    display: inline-flex;
/*    flex-grow: 2
        flex: 2 1 auto;*/
    width: 50%;
}
.right {
    display: inline-flex;
/*        flex: 1 1 auto;*/
    width: 25%;
}
.four_column {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    width: 100%;
    flex: 1 1 auto;
}
.center_left {
    display: inline-flex;
    width: 25%;
}
.center_right {
    flex: 1 1 auto;
    display: inline-flex;
    width: 25%;
}
.video {
    width:
}
/*.class_outer {
    display: block;
    width: 546px;
    height: 276px;*/

/* margin: 10px auto;
    position: relative;
    overflow: hidden;*/

}
/*
.class_cover {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, .50);
    color: #FFFFFF;
    font-size: 26px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
*/